body {
  font-family: "Tahoma", sans-serif;
  background: linear-gradient(to right, #8b8b8b, #222222);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  direction: rtl;
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4e54c8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-container button:hover {
  background-color: #3b3fc4;
}

#message {
  margin-top: 15px;
  color: red;
  font-size: 14px;
}